.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
workspace/
workspace_practice/
workspace_projects/
workspace_random/
workspace_review/
workspace_verify/
challenge_catalog.txt
project_catalog.txt
